{% extends 'base.html' %}
{% load static %}


{% block content %}

  
<style>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300,400;500,600;700&display=swap");

body {
  font-family: "Poppins", sans-serif !important;
}

</style>

<!-- Buttons -->

<div class="p-22 bg-white flex justify-center space-x-6 ">
  <a class="bg-yellow-600 hover:bg-red-500 py-3 px-8 rounded-lg text-yellow-100 border-b-4 border-yellow-700 hover:border-yellow-800 transition duration-700" href="{% url 'ishemic_cancer' %}">Cyber security</a>
  
  </div>
  
  
    <div class="relative h-screen w-full flex items-center justify-center text-center bg-cover bg-center" style="background-image:url(https://images.pexels.com/photos/60504/security-protection-anti-virus-software-60504.jpeg?cs=srgb&dl=pexels-pixabay-60504.jpg&fm=jpg);">
    <div class="absolute top-0 right-0 bottom-0 left-0 bg-gray-900 opacity-75"></div>
    
    <main class="px-4 lg:px-8 z-10 sm:max-w-3xl sm:mx-auto">
          <div class="text-center">
            <h2 class="text-2xl tracking-tight leading-10 font-medium sm:text-3xl text-white md:text-4xl">
                Cyber security Domain
            </h2>
            <div class="py-5 text-sm font-regular text-white flex items-center justify-center">
        <span class="mr-3 flex flex-row items-center">
     
        
      </div>
          </div>
        </main>
    
  </div>
    
    <div class="max-w-2xl mx-auto">
      <div class="mt-3 bg-white rounded-b lg:rounded-b-none lg:rounded-r flex flex-col justify-between leading-normal">
          <div class="">
                <p class="text-base leading-8 my-5">
                  Cybersecurity is essential to protect sensitive data, critical infrastructure, and personal privacy in an increasingly digital world. It helps prevent financial losses, reputational damage, and potential harm to individuals.</p>
            
            <h3 class="text-2xl font-bold my-5">Why</h3>
            
            <p class="text-base leading-8 my-5">
              Cybersecurity is essential to protect sensitive data, critical infrastructure, and personal privacy in an increasingly digital world. It helps prevent financial losses, reputational damage, and potential harm to individuals.</p>
            
            <h3 class="text-2xl font-bold my-5">How</h3>

            <p class="text-base leading-8 my-5">
              Cybersecurity is implemented through a combination of technologies, processes, and best practices. This includes firewalls, encryption, intrusion detection systems, security policies, employee training, and ongoing monitoring.</p> 
            <h3 class="text-2xl font-bold my-5">When</h3>
            
            <p class="text-base leading-8 my-5">
              Cybersecurity is a continuous effort because cyber threats evolve constantly. It's crucial to be proactive in identifying vulnerabilities and responding to incidents promptly.</p>

            <h3 class="text-2xl font-bold my-5">What</h3>
            <p class="text-base leading-8 my-5">
              The cybersecurity domain encompasses a wide range of activities, from threat analysis and risk assessment to incident response and recovery. It also involves securing networks, devices, software, and cloud-based services..</p>

            
            
            
           
           
              
            
            
                </div>
            
              </div>
         </div>
    </div>
    
  </div>
 
{% endblock content %}

